main section.histoire {
    flex-direction: row;
    flex-wrap: wrap;
}


main section h1.title-section {
    text-align: center;
    font-size: 5rem;
    flex: 0 1 100%;
    position: relative;
    animation: animation 1s ease-out;
    animation-timeline: view();
    text-transform: uppercase;
}



main section.histoire article {
    flex: 1 0 30%;
    background-color: rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40vh;

}

article h2 {
    text-align: center;
    flex: 1 1 50%;
    padding: 0.5em;
}
.first {
    border-right: 1px solid #fff;
}

.second {
    color: rgba(0, 0, 0, 0.788);
    flex: 1 1 50%;
    font-size: 1.5rem;
    padding: 0.5em;
    
}

.tableau {
    font-size: 2.3rem;
    padding: 1em 4em;
    text-align: center;
    text-transform: uppercase;
}

.player {
    height: 60vh;
    width: 60vw;
    margin: 1em 4em 6em 4em;
    border-radius: 3px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.363);
    transform: scale(0.8);
    transition: all .5s ease-in-out;
}

.player:hover {
    transform: scale(1);
}

.produits {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 4rem;
    justify-content: center;
    

}

.article {
    
    height: 40vh;
    max-width: 12em;
    min-width: 10em;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1em;
    margin-bottom: 3rem;
    padding: 1em;
    transform: scale(0.9);
    transition: all .3s ease-in-out;
}

.article:hover {
    transform: scale(1);
}

.up {
    width: 100%;
    height: 100%;
    background: rgb(52,51,99);
    background: radial-gradient(circle, rgba(52,51,99,1) 0%, rgba(31,136,164,1) 86%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.5em;
    text-align: center;
}

.up h2 {
    color: #fff;
    font-size: 1.3rem;
}

.up p {
    color: #ffffff9a;
    font-size: 0.8rem;
}

.down {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.7em;

}

.down p{
    font-size: 1rem;
}

.wrap-button {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    min-height: 4.5vh;
    min-width: 10rem;
    padding: 2em;
    font-size: 1.5;
    background-color: #1f88a4;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    max-width: 10rem;
    margin: 2em;
    transform: scale(0.9);
    transition: all .3s ease-in-out;

}

.button:hover {
    background-color: #343363;
    transform: scale(1);
    cursor: pointer;
}

@media  screen and (max-width:600px) {
     .player{
        height: 60vh;
        width: 100%;
        margin: 1em 2em 4em 2em;
        transform: scale(1)  
    }

    h1.title-section {
        position: absolute;
        animation: none;
        animation-timeline: auto();
        padding: 1rem;
        font-size: 2rem;
    }

    .video {
        padding: 1em;

    }
    
    .button {
        transform: scale(1);
        max-width: 20em;
        min-width: 18em;
    }

   
    @keyframes animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
}

.article {
    margin: 0.5em;
    margin-bottom: 2.5rem;
    min-width: 18em;
    max-width: 20em;
}


}
